.DifficultyContainer {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    width: 700px;
    height: 400px;
}

.DifficultyTitle {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}
