.QuestionButton {
    min-width: 200px;
    max-width: 350px;
    margin:20px;
    border-radius: 4px;
    background-color: #E5E8E8;
}

.winner {
    background-color: #55FF33;
}

.loser {
    background-color: red;
}