.QuestionButton {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 350px;
    height: 50px;
}

.QuestionButton.winner {
    background-color: #28a745;
    color: #fff;
}

.QuestionButton.loser {
    background-color: #dc3545;
    color: #fff;
}

.QuestionButton:focus {
    outline: none;
}