.QuestionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 700px;
    height: 400px;
}

.Question {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.Options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 70px;
    gap: 10px;
    width: 100%;
}

button {
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Score {
    font-size: 20px;
    margin-top: 70px;
    font-weight: 700;
}