body {
    background-color: #ffd966;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.BigContainer{
    display: grid;
    grid-template-rows: 10% 90%;
    width: 1380px;
    height: 930px;
    align-content: flex-start;
    flex-wrap: wrap;
}

.App {
    grid-row-start: 2;
    display: flex;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Title {
    grid-row-start: 1;
    align-self: start;
    width: 100%;
    font-size: 5rem;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}