body {
    background-color: #B6CE5D;
    min-height: 100%;
    justify-items: center;
    align-items: center;
}

.BigContainer {
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: #B6CE5D;
    width: 1380px;
    height: 930px;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 900px;
    height:500px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Title {
    margin-top: 50px;
}